:root{
  --background-color: #36333c;
  --color: #fff;
  --font-title:'Nanum Myeongjo', serif;
  --font-text:  'Roboto', sans-serif; 
}

html{
  background: var(--background-color);
}

body {
  margin: 0;
  font-family: var(--font-text);
  color: var(--color);
}

h1, h2, h3, h4{
  font-family: var(--font-title);
  letter-spacing:1px;
  font-weight: lighter;
}


