.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerInput {
  margin: 15px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input {
  height: 25px;
  width: 250px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 2px solid #fe9f02;
  margin: 0;
}

.label {
  font-size: 1.2rem;
}

.buttonSubmit{
    height: 35px;
    width: 80px;
    border-radius: 8px;
    margin-top: 20px;
    border:2px solid #fe9f02;
}

.buttonSubmit:hover{
    cursor: pointer;
}