.headerCard{
    display: flex;
    width: 300px;
    justify-content: space-between
}

.title{
    font-size: 1.7rem;
    margin-bottom: 0;
}
.p{
    margin: 0
}
.link{
    color: white;
}

.container{
    border: 5px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 305px;
    border-radius:15px;
}
.containerImg{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;;
}

.titleContainer{
    align-self: flex-start;
}

.containerIcons{
    background: white;
    width: 300px;
    display: flex;
    justify-content: space-around
}

.imagen{
    height: 180px;
    background: white;
}

.like{
    color:rgb(54, 54, 54);
}

.like:hover{
    color: firebrick
}