.profileContainer {
	width: 48px;
	height: 48px;
	border-radius: 50%;
  display: grid;
  place-content: center;
}

.profileContainer:hover {
	background-color: lightcyan;
  cursor: pointer;
}

.profileContainer img {
	border-radius: 50%;
	object-fit: cover;
	width: 38px;
	height: 38px;
}
